* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  background-color: #91d370;
  background-image: linear-gradient(
    319deg,
    #91d370 0%,
    #bca0ff 37%,
    #f2cd54 100%
  );
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  width: 500px;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: white;
}


.card-bg {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.card {
  width: 500px;
  height: auto; 
  background: #e6e6e6;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
   box-shadow: 0 4px 8px rgba(0, 0, 0);
}

.info {
  width: 100%; 
  display: flex;
  justify-content: space-between;
}

.info .image img {
  height: 100px;
  width: 100px;
  border-radius: 50%; 
 box-shadow: 0 3px 8px rgba(0, 0, 0)
}

.info2{
  display: flex;
  justify-content: space-between;
}



.numbers div {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
}

.numbers > div:nth-child(2) {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0;
  color: #000000; 
}

.bio{
  text-align: center;
}

.repos {
  margin-top: 20px; 
  text-align: center;
  overflow-y: auto; 
  max-height: 200px; 
}

.repo {
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  background: #6648f2;
  border-radius: 20px; 
  display: inline-block;
  margin: 3px; 
}

.repos::-webkit-scrollbar {
  width: 8px; 
}

.repos::-webkit-scrollbar-thumb {
  background-color: #6648f2; 
  border-radius: 10px;
}

.repos::-webkit-scrollbar-track {
  background-color: #e6e6e6; 
  border-radius: 10px; 
  border: 0.5px solid rgb(196, 195, 195);
}